<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="sub-c">
          <h4>prueba de pie de pagina</h4>
          <div class="social"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-youtube"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="links">
          <ul>
						<li><a>Contactanos a: correo@ucn.cl</a></li>
            <li><a>Dirección: Av. Angamos #0610, Antofagasta, Chile</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <p>Copyright 2017</p>
        </div>
        <div class="col-md-6" style="float:right">
          <a [routerLink]="['/privacy']">privacidad</a>
					<a [routerLink]="['/terms']">terminos</a>
					<a [routerLink]="['/cookies']">cookies</a>
				</div>
        <div class="col-md-10">
          <div class="row">
            <!-- Se debe cambiar para logo otara
						<div class="col-md-6"> <img class="margin-top-10" src="assets/img/Bitmap.png" alt="icon"> </div>
						-->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>